@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
table tr th{
    border: solid 3px black;
}

td{
    border: solid 1px black;
    background-color: beige;
}

body, li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
}


.cart {
   padding: 15px; 
   background-color: rgba(0, 136, 169, 1) ;
   border-radius: 60%;
   cursor: pointer;
   transition: all 0.3s ease 0s ;
}

.cart:hover{
    background-color: rgba(0, 136, 169, 0.8);
    padding: 20px;
    box-shadow: 4px 7px #101010;
}

.input{
    padding: 10px 40px;
    border-radius: 50px;
    border: 0;
}



/*------content-------------------------------------------------------------------------------------------------------------*/
.add-to-cart-page{
    margin: 250px  ;
    margin-top: 20px;
}
table{
     width: 100%;
     border: 1px solid black;
     color: #101010;
 }
.add-to-cart-info{
    display: flex;
    flex-wrap: wrap;
    color: black ;
}
.image-name{
    display: flex;
    flex-wrap: wrap;
    color :#101010;
}
th{
    text-align: left;
    padding: 5px;
    color: #ffffff;
    background : #0088a9;
    font-weight: normal;
}
td{
    padding: 20px 10px  ;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color:#0088a9;
    font-size: 12px;
}
td img{
    width: 150px;
    height: 250px;
    margin-right: 10px;

}
.total-price{
    display:flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #0088a9;
    width: 100%;
    max-width: 370px;
}
td:last-child{
    text-align:right;
}
th:last-child{
    text-align:right;
}
.cart-info p{
    display:none;
}
.proceed-button{
    margin-left:76%;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: all .5s ease 0s ;
}
.proceed-button:hover{
    cursor: pointer;
    font-size: 15px;
    padding:12px;
    box-shadow: inset 2000px 0 0 0 lightgreen;
}

.proceed-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.proceed-button:active {
    color: #000
}

.proceed-button:active:after {
    background: transparent;
}

.proceed-button:hover:before {
    opacity: 1;
}

.proceed-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
